$dark-blue: #011f4b;
$blue: #005b96;
$light-blue: #f1fafe;
$grey: #7e8299;
$light-grey: #f3f6f9;
$white: #fff;
$light-yellow: #f6ca65;
$green: #1bc5bd;
$dark-green: #128d87;
$purple: #a259ff;
$orange: #f24e1e;
$yellow: #ffc107;
$blueish-grey: #6497b1;
$placeholder-color: rgba($dark-green, 0.7);
