@import "../styles/config/";

.Button {
  padding: 8px 10px;
  border-radius: $default-rounding;
  transition: all $default-animation-time $default-easing;
  background: $blue;
  color: $white;
  font-family: $primary-font;
  font-size: $form-element-size;
  font-weight: 400;
  appearance: none;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background: $dark-blue;
  }
}
