@import "../styles/config/";

.Table {
  width: 100%;
  border-collapse: collapse;
  border: none;

  tbody {
    width: 100%;

    td {
      border: none;
      padding: 10px $gutter;
    }

    tr:nth-child(odd) {
      // should somehow make the table "aware" of it's background, but it's OK for now...
      td {
        background-color: $white;
      }
    }

    tr {
      td {
        text-align: center;
      }

      td:first-child {
        text-align: left;
      }

      td:last-child {
        text-align: right;
      }
    }
  }
}
