@import "./config/";

body,
html,
body > div {
  height: 100%;
}

:root {
  --green: #{$green};
  --dark-green: #{$dark-green};
  --white: #{$white};
  --placeholder-color: #{$placeholder-color};
  --form-element-size: #{$form-element-size};
  --primary-font: #{$primary-font};
}

html {
  color: $dark-blue;
  font-family: $primary-font;
  background: $white;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

body {
  // make the page scroll horizontally on smaller screens since we don't have a mobile layout
  min-width: 1000px;
  font-size: 1rem;
}

// utility classes
.mt-40 {
  margin-top: 40px;
}
