@import "../../styles/config/";

.Filters {
  position: sticky;
  top: $app-bar-height;
  z-index: $low;
  background: $white;
  padding: 30px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: $gutter * 2;

  &__form {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: start;
  }

  &__datePickerContainer {
    flex-basis: 118px;
    max-width: 118px;
    flex-shrink: 2;
    flex-grow: 0;
  }

  &__selectContainer {
    flex-basis: 135px;
    max-width: 135px;
    flex-shrink: 1;
    flex-grow: 0;
  }
}
