@import "../../styles/config/";

.ReportsAccordion {
  padding: 0;
  margin: 0;
  list-style: none;

  &__header {
    background-color: $white;
    padding: 26px 24px;
    margin-bottom: 8px;
    border-radius: $default-rounding * 2;
    display: flex;
    justify-content: space-between;
  }

  &__header--clickable {
    cursor: pointer;
  }

  &__body-padding {
    padding: 4px 0 20px 0;
  }

  &__body--show {
    display: block;
  }
}
