@import "../styles/config/";

.SideBar {
  top: $app-bar-height;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $high;
  width: $app-bar-height;
  background: $white;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gutter;
}
